/*body            { font-family: sans-serif; background-image: url('img3.jpg'); background-color: #333333}*/
/*h1, h2, h3, h4       { color: black; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

p, dd, dt               { color: black;}

a {text-decoration: none; color:black; font-size: .75em;}

.pane {position:absolute; left: 2%; border: 2px solid;
    border-radius: 25px; padding: 25px; margin: 5px; border-color: #999999; background-color: MintCream }
.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {text-align: right; width:50%; float: right; }
.image {text-align: right; width:50%; float: right; }
.price {text-align: right; width:50%; float: right; }
.editdeletepane{float:left; height:100;}*/
.flash          { background: #cee5F5; }
